<div class="container">


      <app-edit-beer [childSelectedBeer]="selectedKeg" (doneButtonClickedSender)="finishedEditing()"></app-edit-beer>


    <h1>{{title}}</h1>
    <app-beer-list [childBeerList]="masterBeerList" (clickSender)="editKeg($event)"></app-beer-list>
    <div *ngIf="selectedKeg" id="editForm">

      <h4>{{selectedKeg.name}}</h4>
      <input [(ngModel)]="selectedKeg.name"><br>
      <input [(ngModel)]="selectedKeg.brand"><br>
      <input [(ngModel)]="selectedKeg.abv"><br>
      <input [(ngModel)]="selectedKeg.price">
      <input [(ngModel)]="selectedKeg.pints"><br>
      <button (click)="finishedEditing()">Done</button>
    </div>

    <app-new-keg (sendKeg)="addKeg($event)"></app-new-keg>
</div>
